@font-face {
   font-family: 'Inversionz Unboxed';
   font-display: swap;
   src: url('Inversionz Unboxed/font.ttf');
}
@font-face {
   font-family: 'Winner Sans Cond Regular';
   font-display: swap;
   src: url('Winner Sans Cond Regular/font.ttf');
}
